<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DOGS</title>
</head>
<body>
    <p>dog</p>
    <span th:text="${dog.get().name}"></span><br>
    <span th:text="${dog.get().getBarking()}"></span><br>
    <span th:text="${dog.get().getGoodWithOtherDogs()}"></span>
    <span th:text="${dog.get().getCoatLength()}"></span>
    <span th:text="${dog.get().getBarking()}"></span>
    <span th:text="${dog.get().getBarking()}"></span>
    <span th:text="${dog.get().getBarking()}"></span>
    <span th:text="${dog.get().getBarking()}"></span>
    <span th:text="${dog.get().getBarking()}"></span>

</body>
</html>