<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doggss</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image Link</th>
    </tr>

    <tr th:each="dog : ${dogs}">
        <td th:text="${dog.id}"></td>
        <td th:text="${dog.name}"></td>
        <td>
            <img th:src="${dog.imageLink}" alt="s" style="max-width: 40px;max-height: 40px">
        </td>
    </tr>
</table>

</body>
</html>